########################################
# HEADER_SPEC: CEA_LGPL_OR_PROPRIETARY #
########################################

dune-project header_spec=CEA_LGPL_OR_PROPRIETARY
dune header_spec=CEA_LGPL_OR_PROPRIETARY

config* header_spec=CEA_LGPL_OR_PROPRIETARY
makefile* header_spec=CEA_LGPL_OR_PROPRIETARY
Make* header_spec=CEA_LGPL_OR_PROPRIETARY
*.mk header_spec=CEA_LGPL_OR_PROPRIETARY


*.c header_spec=CEA_LGPL_OR_PROPRIETARY
*.h header_spec=CEA_LGPL_OR_PROPRIETARY

*.htm header_spec=CEA_LGPL_OR_PROPRIETARY
*.html header_spec=CEA_LGPL_OR_PROPRIETARY

*.js header_spec=CEA_LGPL_OR_PROPRIETARY

*.ml header_spec=CEA_LGPL_OR_PROPRIETARY
*.ml.in header_spec=CEA_LGPL_OR_PROPRIETARY
*.mli header_spec=CEA_LGPL_OR_PROPRIETARY
*.mli.in header_spec=CEA_LGPL_OR_PROPRIETARY
*.mll header_spec=CEA_LGPL_OR_PROPRIETARY
*.mly header_spec=CEA_LGPL_OR_PROPRIETARY

*.xml header_spec=CEA_LGPL_OR_PROPRIETARY

*.pl header_spec=CEA_LGPL_OR_PROPRIETARY

*.py header_spec=CEA_LGPL_OR_PROPRIETARY

*.rc header_spec=CEA_LGPL_OR_PROPRIETARY

*.sh header_spec=CEA_LGPL_OR_PROPRIETARY
*.zsh header_spec=CEA_LGPL_OR_PROPRIETARY

*.css header_spec=CEA_LGPL_OR_PROPRIETARY

*.ts header_spec=CEA_LGPL_OR_PROPRIETARY
*.tsx header_spec=CEA_LGPL_OR_PROPRIETARY

########################
# HEADER_SPEC: .ignore #
########################

/*/tests/**/* header_spec=.ignore

