/doc/refman/*.out
/doc/refman/*.bbl
/doc/refman/*.blg
/doc/refman/*.id*
/doc/refman/*.aux
/doc/refman/*.cb*
/doc/refman/*.toc
/doc/refman/*.lo*
/doc/refman/*.inf
/doc/refman/*.ilg
/doc/refman/e-acsl*.tex
/doc/refman/framacversion.tex
/doc/refman/main.pdf
/doc/refman/*.bnf
/doc/refman/*.cm*
/doc/refman/transf
/doc/refman/transf.ml
/doc/refman/*.ind
/doc/userman/*.aux
/doc/userman/*.bbl
/doc/userman/*.blg
/doc/userman/*.ind
/doc/userman/*.ilg
/doc/userman/*.out
/doc/userman/*.cb*
/doc/userman/*.toc
/doc/userman/*.idx
/doc/userman/*.log
/doc/userman/*.lof
doc/doxygen/doxygen.cfg
doc/doxygen/html
doc/doxygen/warn.log
