/anr-logo.png
/developer.pdf
/eu-flag.jpg
/frama-c-book.cls
/fc-macros.tex
/logos
/hello_world/
/tutorial/viewcfg/generated/
/examples/generated/
*.idx
*.out
developer.fdb_latexmk
developer.idxs
mecanism.eps
pp
pp.ml
/checks/hello/*.res
/**/tests/**/result*/
/**/tests/**/oracle*/dune
